{% extends "base.html" %} 
{% block content %}


<h1>{{name}}</h1>
<h2> Data from NYC Open Data</h2>
{{data | safe}}

<body>
  <div id="graph" class="aGraph" style="position:absolute;top:20pxleft:400; float:left"></div>
</body>
<script>
 
                    var margin = {top: 30, right: 20, bottom: 70, left: 50},
                    width = 600 - margin.left - margin.right,
                    height = 270 - margin.top - margin.bottom;
 
 
                    //Create the Scale we will use for the Axis
                    var axisScale = d3.scale.linear()
                                             .domain([0, 500])
                                             .range([0, width]);
 
 
                    var yaxisScale = d3.scale.linear()
                    .domain([0, 500])
                    .range([ height,0]);
 
                    var xAxis = d3.svg.axis()
                    .scale(axisScale)
                    .orient("bottom");
 
                    var yAxis = d3.svg.axis()
                    .scale(yaxisScale)
                    .orient("left");
 
                    var svgContainer = d3.select("body").
                    append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
 
                    svgContainer.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);
 
                    svgContainer.append("g")
                    .attr("class", "y axis")
                    .call(yAxis);
 
                    // create a line
                    var line = d3.svg.line()
                    .x(function(d,i) {
                      console.log(d.PROP_FRONT);
                      return axisScale(d.PROP_FRONT);
                    })
                    .y(function(d,i) {
                      console.log(d.PROP_DEPTH);
                      return yaxisScale(d.DEPTH);
                    })
                    var data = {{ data | safe }}
					svgContainer.append("svg:path").attr("class", "line").attr("d", line(data)); 
</script>
 
</html>


{% endblock %}  